node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

key.properties
key.jks

firebaseConfig.js

assets/data/Translations/TranslationsStrings/Strings/*
assets/data/translationsNewOutput.json
translationsNewOutput.json